<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>CORNEL</title>
</head>
<body>
    <main>
        <div class="name">
            <div id="c">C</div>
            <div id="o">O</div>
            <div id="r">R</div>
            <div id="space">-</div>
            <div id="n">N</div>
            <div id="e">E</div>
            <div id="l">L</div>
        </div>
    </main>
</body>
</html>